.container{
  padding-top: 20px;
  .matCard{
    padding:0px;
    .cardHeader{
        background-color:#f7f7f7;
        padding-top: 10px;
        font-size: 14px;
        columns: #000000;;
    }
    .cardContent{
      padding:10px;
      padding-bottom: 10px;
    }
  }
}
