<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="max-height: 200px;min-height: 100px;">
  <div fxFlex="45%">
    <mat-card class="matCard">
      <mat-card-header class="cardHeader">
        <mat-card-title>Computers</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardContent">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="45%">
    <mat-card class="matCard">
      <mat-card-header class="cardHeader">
        <mat-card-title>Printers</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardContent">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
  <div fxFlex="45%">
    <mat-card class="matCard">

      <mat-card-header class="cardHeader">
        <mat-card-title>Projectors</mat-card-title>
      </mat-card-header>

      <mat-card-content class="cardContent">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>

    </mat-card>
  </div>

  <div fxFlex="45%">
    <mat-card class="matCard">

      <mat-card-header class="cardHeader">
        <mat-card-title>Devices</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardContent">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div>
  <br>
</div>
