<div class="content">
  <mat-card>
    <h3 mat-card-title>Welcome</h3>

    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions align="middle">
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>

</div>
