
.content{
  height: 100%;
  .mat-card {
    box-shadow: 0 0 8px 3px rgba(0,0,0,.2);
    margin-top: 10vh !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

    .mat-card-content {
      & > .mat-form-field {
        margin-top: 8px;
        width: 100%;
      }

      & > .mat-form-field:first-child {
        margin-top: 0;
      }
    }

    .login {
      width: 100%;
    }
  }

}
