<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/inventory" routerLinkActive="active">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Inventory</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <!-- <img class="logo-image" src="http://www.na.edu/images/logo/Official-NAU-Shield.png"> -->
        <a routerLink="/">
          NAU Inventory
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/inventory">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Inventory</span>
            </a>
          </li>

        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
