mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
.active{
  color: red;
  background: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 12px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}
.logo-image {
  height: 5%;
  width: 5%;
}
.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
  font-size: 15px;
}
