<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Device name: {{data.name}}
    <p></p>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
  </div>
</div>
