<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="opened==!opened" (closed)="opened==!opened">
    <mat-nav-list>

      <a mat-list-item *ngFor="let item of menuItems" routerLink="{{item.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <button mat-icon-button>
          <mat-icon>{{item.icon}}</mat-icon>
        </button>
        {{ item.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-loader></app-loader>

    <!-- <button mat-button (click)="sidenav.toggle()">
      <mat-icon>
        <span *ngIf="opened">first_page</span>
        <span *ngIf="!opened">last_page</span>
      </mat-icon>
    </button> -->

    <div class="container mat-elevation-z8">

      <div class="search">
        <mat-form-field appearance="standard">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search device...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="devices" matSort class="mat-cell">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;">{{i+1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="os">
          <mat-header-cell *matHeaderCellDef mat-sort-header>OS</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.os}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="model">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.model}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addNew()" matTooltip="Add device" FocusMonitor>Add device
              <mat-icon aria-label="Add">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;" class="text-center">
            <button mat-icon-button color="primary" class="btn-edit" matTooltip="Edit device" (click)="startEdit(row.id, row.name, row.os, row.model, row.description)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" class="btn-delete" matTooltip="Delete device" matTooltipClass="tooltip-class" (click)="deleteItem(row.id, row.name)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <!-- <mat-card *ngIf="!isLoading" style="display: flex; justify-content: center; align-items: center;">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </mat-card> -->
      <!--
      <div *ngIf="!isLoading" class="no-results" [style.display]="devices?.length == 0 ? '' : 'none'">
        No results
      </div> -->

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
