.container {
  display: flex;
  flex-direction: column;
}

mat-sidenav-container{
  height: 100vh;
  mat-sidenav{
    width: 200px;
    background-color: #333333;
    mat-nav-list{
      a {
        color: #bdbaba;
      }
      a:hover {
        color:#ffffff;
      }
      .active {
        color:#ffffff;
      }
    }
  }
}

.tooltip-class{
  background: red;
}

.search{
  margin-left: 20px;
  mat-form-field{
    width: 50%;
  }
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.mat-cell {
  // cursor: pointer;
}

.mat-row:nth-child(odd){
  background-color:#F9F9F9;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 4%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 20%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 15%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: 0 0 15%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: 0 30%;
}

.mat-footer-row .mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

.btn-delete, .btn-edit {
  opacity: 0.15;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

mat-cell:hover .btn-delete, mat-cell:hover .btn-edit {
  opacity: 1;
}
